{% extends 'bootstrap_4_layout.html.twig' %}

{% form_theme form _self %}


{% block form_widget_simple -%}
  <div class="form-widget form-widget-with-icon">
    {%- if icon is defined -%}
       <i class="{{ icon }}"></i>
    {% endif %}
    {{- parent() -}}
  </div>
{%- endblock form_widget_simple %}